/*--------------------------------------------------------------
Basic responsive layout for all browsers: A simple HACK :)
--------------------------------------------------------------*/
.site {
	max-width: 50em;
	margin: 0 auto;
}
/*--------------------------------------------------------------
The CSS Grid layout for all modern browsers:
--------------------------------------------------------------*/
/*
NOTE
The reason why I use (grid-area: auto) instead of (display: grid), is that some older browsers actually have 'legacy support' for an older spec for CSS Grid. So they will say yes to the question: "do you support display grid ? ". The problem is, you don't know if that means they actually support the current spec or the older spec. But, (grid-area: ) is from the NEW current spec so if we test for (grid-area: ) instead we will get a true answer.
*/
/*--------------------------------------------------------------
Grid support and Grid styling.
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 600px) {
		.site {
			max-width: none;
		}
		.main-area > * , .colophon {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
		}
		.splash, .splash-content, .more-content, .buckets ul {
			grid-column: 2/4;
		}
		.twin, .colophon aside {
			grid-column: span 2;
		}
	}
}
/*--------------------------------------------------------------
Extra styling
--------------------------------------------------------------*/

.logo span {
	border-bottom: 1px solid rgb(43,97,143);
}
.splash {
	background: linear-gradient(0deg, #FFF6E5 90%, #2185C5 90%); /*#FFF6E5;*/
	padding-bottom: 2em;
}
